.navbar__wrapper {
    margin: 1rem 2.5%;
}

.navbar__nav {
    display: grid;
    grid-template-columns: 75% 25%;

    ul {
        padding: 0;
    }
}

.navbar__items {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
}

.navbar__item {
    list-style-type: none;
    
    a {
        color: #E9C46A;
        text-decoration: none;
    }
}